.homepage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.homepage {
  height: 25%;
  width: 25%;
  border-radius: 5px;
}

.homepage-top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightskyblue;
}
