.header-main {
  background-color: lightblue;
  color: azure;
  padding: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  padding: 10px 0;
}
.header-items {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-items:hover {
  background-color: white;
}
