.products-page-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-page-main {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}
.products-individual {
    background-color: beige;
    min-width: 150px;
    min-height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}